{{ define "views/user_new.html" }}

{{ template "layouts/header.html" . }}

<form action="/users" method="post">
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input name="username" value="{{ .Username }}" class="form-control form-control-lg" type="text"
            placeholder="username...">
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input name="name" value="{{ .Name }}" class="form-control form-control-lg" type="text"
            placeholder="name...">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href='/users' id="cancel" name="cancel" class="btn btn-secondary">Cancel</a>
</form>

{{ template "layouts/footer.html" .}}

{{ end }}