{{ define "views/workout.html" }}

{{ template "layouts/header.html" . }}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="/workouts">Workouts</a></li>
      <li class="breadcrumb-item active">{{ .Workout.Name }}</li>
    </ol>
</nav>

<h1>
    {{ .Workout.Name }}
    <small class="text-muted">{{ .Workout.Created }}</small>
</h1>

<h5>Exercises</h5>

<ol>
    {{ range .Workout.ExerciseInstances }}
        <li><h6>{{ .Exercise.Name }}</h6></li>
    {{ end }}
</ol>


<a class="btn btn-primary" href="/workouts/{{ .Workout.Id }}/edit" role="button">Edit</a>
<button type="button" class="btn btn-danger" onclick="deleteWorkout();">Delete</button>

<script>
    function deleteWorkout() {
        if (confirm("Are you sure you want to delete {{ .Workout.Name }}?") == true) {
            fetch("/workouts/{{ .Workout.Id }}/delete", { method: "POST" })
            window.location.href = "/workouts/"
        }
    }
</script>

{{ template "layouts/footer.html". }}

{{end}}